#logonavbar {
  height: 150px;
  width: 150px;
}

#backNavbar {
  background: linear-gradient(#cbf3f0, #ffd9e2);
}

#buttonNavbar {
  background-color: #FFFFFF;
}

.card-body-male {
  background-color: #cbf3f0 !important;
  padding-bottom: 1rem;
}

.card-body-female {
  background-color: #ffd9e2 !important;
  padding-bottom: 1rem;
}

#index {
  visibility: hidden;
  margin-top: 20rem;
}

#mineur {
  color: red;
  text-align: center;
}

form {
  text-align: center;
  align-items: center;
  font-size: 2rem;
}

#acceptCGU {
  border-radius: 15%;
  background-color: rgb(85, 85, 85);
  color: white;
}

.btnRetour {
  background-color: linear-gradient(#cbf3f0, #ffd9e2);
  font-size: 2rem;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #000;
}

#container {
  width: 80vw;
  margin: 11rem auto 0 auto;
}

#nom {
  width: 80vw;
  margin: 11rem auto 0 auto;
}
